<!--<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-header class="tab-header">
  <img class="header-image" src="./../../assets/markai.png" alt="">
  
</ion-header>

<ion-content class="content">
    
  <div ><ion-label class="labels" style="color:#13455E;"><h1>Calendario</h1></ion-label></div>
<div>
  <nav>
  <!--  <div class="conteudo-left">
      <ion-list>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
        <ion-item><ion-label style="height: 100px;">Again</ion-label></ion-item>
      </ion-list>
    </div>
  -->
    <div style="overflow-x: scroll;  white-space: nowrap;
    ">
      <div class="conteudo-dias">
          <ion-list>
              <ion-list-header color="secundary"></ion-list-header>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
              <ion-item><ion-label style="width: 100px ;height: 90px;">Again</ion-label></ion-item>
            </ion-list>
      </div>
      <div class="conteudo-dias">
        <ion-list>
          <ion-list-header color="secundary">Dia 1</ion-list-header>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
        </ion-list>
      </div>
      <div class="conteudo-dias">      
        <ion-list>
          <ion-list-header color="secundary">Dia 2</ion-list-header>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
        </ion-list>        
      </div> 
      <div class="conteudo-dias">      
        <ion-list>
          <ion-list-header color="secundary">Dia 3</ion-list-header>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
          <ion-item><ion-chip style="width: 100px; height: 100px;"></ion-chip></ion-item>
        </ion-list>        
      </div> 
    </div>
  </nav>
</div>
</ion-content>
